@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background: linear-gradient(90deg, rgba(68,58,241,1) 0%, rgba(94,94,228,1) 41%, rgba(122,131,233,1) 100%, rgba(13,189,255,1) 100%);
    }

    .column {
        float: left;
        width: 50%;
        text-align: center;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    h1 {
        color: black;
        font-family: Verdana, Arial, helvetica, Geneva, sans-serif;
        font-size: 48px;
        text-align : center;
    }

    h2 {
        color: white;
        font-family: Verdana, Arial, helvetica, Geneva, sans-serif;
        font-size: 27px;
    }

    h3 {
        color: white;
        font-family: Verdana, Arial, helvetica, Geneva, sans-serif;
        font-size: 16px;
    }
</style>


<body>
    <h1><b>UCT Privacy Policy</b></h1>
    <div class="row">
        <div class="column">
        </div>
        <div class="column">
        </div>
    </div>
</body>


